@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: "ChalkBoard";
  src: url("../../font/Dalton_White.otf") format("truetype");
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: wheat;
}

.todolist {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.todo-container {
  perspective: 1000px;
  position: relative;
  width: 440px;
  height: 560px;
}

.card {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  border: solid 3px black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.todo-card {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: solid 3px black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transform: rotate(-3deg);
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-card:hover {
  transform: rotate(0deg);
}

h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
}

ol {
  padding-left: 20px;
  width: 80%;
}

li {
  margin: 20px 0;
  padding: 10px;
  list-style: none;
  color: #555;
  width: 100%;
  border-bottom: solid 1px darkgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pin {
  position: absolute;
  right: 30%; /* Centre horizontalement */
  top: -3%; /* Aligne en haut de la feuille */
  transform: translateX(-50%); /* Centrage précis */
  width: 60px;
  height: 50px;
}

.shadow {
  position: absolute;
  top: 18px;
  left: -8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: radial-gradient(#c9bf8d, 20%, rgba(201, 191, 141, 0));
}

.metal {
  position: absolute;
  width: 5px;
  height: 20px;
  background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
  border-radius: 0 0 30% 30%;
  transform: rotate(50deg);
  transform-origin: bottom left;
  top: 15px;
  border-bottom: 1px solid #808080;
}

.bottom-circle {
  position: absolute;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d02627;
  background: radial-gradient(circle at bottom right, #fc7e7d, 25%, #9e0608, 90%, #d02627);
}

/* Barrel */
.bottom-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 20px;
  height: 30px;
  transform: rotate(55deg);
  transform-origin: 100% 100%;
  border-radius: 0 0 40% 40%;
  background: linear-gradient(to right, #9e0608, 30%, #d02627, 90%, #fc7e7d);
}

/* Top circle */
.bottom-circle::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(circle at right, #fc7e7d, 30%, #d02627, #9e0608 80%);
}

.hidden {
  width: 0;
  height: 0;
  visibility: hidden; /* Cache visuellement l'élément */
  position: absolute; /* Le retire du flux visuel, si nécessaire */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  background: #fff;
  border: solid 3px black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  width: 50%; /* Could be more or less, depending on screen size */
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 50%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav {
  width: 80%;
  height: 10%;
  padding: 1%;
  margin-top: 2%;
  background: #fff;
  border: solid 3px black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-wrapper-61 input[type=checkbox] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-61 *,
.checkbox-wrapper-61 ::after,
.checkbox-wrapper-61 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-61 {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper-61 .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-61 .label svg {
  vertical-align: middle;
}

.checkbox-wrapper-61 .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: 0.5s stroke-dashoffset;
  opacity: 0;
}

.checkbox-wrapper-61 .check:checked + label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */