@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "EraserRegular";
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: "EraserRegular";
  src: url("../font/EraserRegular.ttf") format("truetype");
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: wheat;
}

.todolist {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.todo-container {
  perspective: 1000px;
  position: relative;
  width: 440px;
  height: 560px;
}
.todo-container .card {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  border: solid 3px black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.todo-container .todo-card {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: solid 3px black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transform: rotate(-3deg);
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-container .todo-card:hover {
  transform: rotate(0deg);
}
.todo-container .todo-card h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
}
.todo-container .todo-card ol {
  padding-left: 20px;
  width: 80%;
}
.todo-container .todo-card li {
  margin: 20px 0;
  padding: 10px;
  font-size: 80%;
  list-style: none;
  color: #555;
  width: 100%;
  border-bottom: solid 1px darkgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-container .todo-card li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container .todo-card li p {
  text-align: center;
}

.pin {
  position: absolute;
  right: 30%; /* Centre horizontalement */
  top: -3%; /* Aligne en haut de la feuille */
  transform: translateX(-50%); /* Centrage précis */
  width: 60px;
  height: 50px;
}

.shadow {
  position: absolute;
  top: 18px;
  left: -8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: radial-gradient(#c9bf8d, 20%, rgba(201, 191, 141, 0));
}

.metal {
  position: absolute;
  width: 5px;
  height: 20px;
  background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
  border-radius: 0 0 30% 30%;
  transform: rotate(50deg);
  transform-origin: bottom left;
  top: 15px;
  border-bottom: 1px solid #808080;
}

.bottom-circle {
  position: absolute;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d02627;
  background: radial-gradient(circle at bottom right, #fc7e7d, 25%, #9e0608, 90%, #d02627);
}

/* Barrel */
.bottom-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 20px;
  height: 30px;
  transform: rotate(55deg);
  transform-origin: 100% 100%;
  border-radius: 0 0 40% 40%;
  background: linear-gradient(to right, #9e0608, 30%, #d02627, 90%, #fc7e7d);
}

/* Top circle */
.bottom-circle::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(circle at right, #fc7e7d, 30%, #d02627, #9e0608 80%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  margin: 10% auto;
  padding: 20px;
  width: 60%;
  background-color: #fff7da;
  border-radius: 15px;
  border: 3px solid #ffcc00;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transform: rotate(-2deg);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.modal .modal-content:hover {
  transform: rotate(0deg);
}
.modal .modal-content .close {
  color: #555;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
}
.modal .modal-content .close:hover {
  color: #ff0000;
}
.modal .modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  align-items: center;
}
.modal .modal-content form label {
  font-size: 18px;
  color: #555;
  font-weight: bold;
}
.modal .modal-content form input[type=text] {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  width: 80%;
  height: 10%;
  padding: 1%;
  margin-top: 2%;
  background: #fff;
  border: solid 3px black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.checkbox-wrapper-61 input[type=checkbox] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-61 *,
.checkbox-wrapper-61 ::after,
.checkbox-wrapper-61 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-61 {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper-61 .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-61 .label svg {
  vertical-align: middle;
}

.checkbox-wrapper-61 .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: 0.5s stroke-dashoffset;
  opacity: 0;
}

.checkbox-wrapper-61 .check:checked + label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}

button {
  background: cornflowerblue;
  color: white;
  border: solid 3px black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 7px;
  transform: rotate(-3deg);
  transition: transform 0.4s ease;
}
button:hover {
  background-color: white;
  color: cornflowerblue;
  transform: rotate(0deg);
}

.delete-button {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #ff6666;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.delete-button:hover {
  background-color: #ff0101;
  transform: rotate(0deg);
  color: white;
}

#OpenCalculette {
  position: fixed;
  right: 2%;
  bottom: 2%;
  border-radius: 50%;
}
#OpenCalculette svg {
  padding: 5px;
}
#OpenCalculette:hover svg {
  fill: cornflowerblue;
}

.labelFilter {
  display: inline-block;
  background-color: #fff4b8;
  padding: 7px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 5px;
  cursor: pointer;
  transform: rotate(-3deg);
  transition: transform 0.4s ease;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  background-color: #ffec99;
  border: solid 3px black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transform: rotate(0deg);
}

#filter-all + label {
  background-color: #ffddc1; /* Pêche pastel */
}

#filter-todo + label {
  background-color: #ffe4e1; /* Rose pastel */
}

#filter-progress + label {
  background-color: #e6f7ff; /* Bleu pastel */
}

#filter-done + label {
  background-color: #e4ffd7; /* Vert pastel */
}

.hidden {
  width: 0;
  height: 0;
  visibility: hidden; /* Cache visuellement l'élément */
  position: absolute; /* Le retire du flux visuel, si nécessaire */
}

.sectionCalculette .modal .modal-content {
  width: 400px;
  height: 50%;
  transform: rotate(0deg);
}
.sectionCalculette .modal .modal-content .Calculette {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
}
.sectionCalculette .modal .modal-content .Calculette .Afficheur {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 3px black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding-bottom: 10px;
  background-color: white;
}
.sectionCalculette .modal .modal-content .Calculette .Afficheur .AffichTop {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.sectionCalculette .modal .modal-content .Calculette .Afficheur .AffichTop p {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  text-align: right;
  margin-right: 15px;
}
.sectionCalculette .modal .modal-content .Calculette .Afficheur .AffichBot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionCalculette .modal .modal-content .Calculette .Afficheur .AffichBot p {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 90%;
  text-align: right;
  margin-right: 15px;
}
.sectionCalculette .modal .modal-content .Calculette .Afficheur .AffichBot #Sign {
  width: 5%;
  text-align: left;
  margin-right: 0px;
  margin-left: 15px;
}
.sectionCalculette .modal .modal-content .Calculette .NumPad {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
.sectionCalculette .modal .modal-content .Calculette .NumPad div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.sectionCalculette .modal .modal-content .Calculette .NumPad div button {
  width: 24%;
  transform: rotate(0deg);
}
.sectionCalculette .modal .modal-content .Calculette .NumPad div #CalcEgal {
  width: 48%;
}
.sectionCalculette .modal .modal-content .Calculette .NumPad div #CalcBackspace {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionCalculette .modal .modal-content .Calculette .NumPad div #CalcBackspace svg {
  display: block;
  width: 15px;
}
.sectionCalculette .modal .modal-content .Calculette .NumPad div #CalcBackspace:hover svg {
  fill: cornflowerblue;
}/*# sourceMappingURL=style.css.map */